# ========================

# Dependencies

# ========================

node_modules/
.pnp
.pnp.js

# ========================

# Logs

# ========================

logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# ========================

# Build / Output

# ========================

dist/
build/
.next/
out/
coverage/

# ========================

# Environment variables

# ========================

.env
.env.*
!.env.example

# ========================

# OS files

# ========================

.DS_Store
Thumbs.db

# ========================

# Editor / IDE

# ========================

.vscode/
.idea/
*.swp
*.swo

# ========================

# Cache

# ========================

.cache/
.parcel-cache/
.npm
.eslintcache

# ========================

# TypeScript

# ========================

*.tsbuildinfo

# ========================

# Optional tools

# ========================

.vercel/
.netlify/

# ========================

# Database / local files

# ========================

*.sqlite
*.db

# ========================

# Misc

# ========================

tmp/
temp/
Insis Tugas WebSocket.mp4
